<h1><%= current_user.username %>, below you can review a Sight</h1>
<form method="POST" action="/reviews">
  Choose one Sight to review by checking the box:<br>
  <% @sights.each do |sight| %>
    <input type="checkbox" name="sight[id]" id="sight_<%= sight.id %>" value="<%= sight.id %>"><%= sight.name %><br>
  <% end %>
  <br></br>
  or, Create a new Sight to review:<br>
  Name: <input type="text" name="sight[name]" id="new_sight_name"><br>
  Description (one line): <input type="text" name="sight[description]" id="new_sight_description"><br>
  <br></br>
  <textarea name="review[content]" rows="4" cols="50" id="
  review_content">Enter text here...</textarea>
  <br></br>
  <input type="submit" value="Submit Review">
</form>