
<h1>Welcome to the SightSeeDC Index</h1>
<h4>Logged In As: <%= @user.username%></h4><br>

Start your sightseeing adventure:<br>

<a href="/users/<%= @user.slug %>"><input type="submit" value="View Your Existing List"></a><br>
<a href="/lists/new"><input type="submit" value="Create Your List"></a><br>

<a href="/logout"><input type="submit" value="Log Out"></a><br>

<% unless locals.empty? %>
   <%= message %>
 <% end %>